body {
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}
.fixed-nav h1 {
    font-weight:300;
}
.main-page-headers {
    font-weight: 300;;
}
.good h2 {
    font-weight:300;
    text-align: center;
}

.good h3 {
    font-weight:400;
    text-align: center;
}
/*Главная страница*/
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:white;
    font-weight: 100;
    z-index:5;
}
.active {
    font-weight: 400;
}
.visible {
    display:block;
    position: fixed;
    top:50px;
    left: 100px;
    width:220px;
    background-color: white;
    z-index: 6;
    font-weight: 300;
}
.invisible {
    display:none;
}
.about_author {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 5px 5px 25px;
    background: black;
    color: white;
}
p {
    font-size: 20pt;
}
.quotes {
    display: flex;
    padding: 20px 5px 5px 25px;
    background:white;
}
blockquote {
    font-weight: 400;
}
article {
    font-size: 20pt;
}
td {
    text-align: center;
}
footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
a:link {
    color:black;
    text-decoration:none;
}
a:visited {
    color:black;
    text-decoration:none;
}
a:hover {
    color:black;
    text-decoration:none;
    font-weight: 400;
}
.gallery {
    background-color: black; 
    color: white; 
    width:100%; 
    font-size:25px; 
    padding: 30px 30px 30px 30px;
}
/*Библиография*/
.table-novels {
    border: 2px solid black;
    border-collapse: collapse;
    width:75%;
    font-weight: 300;
    font-size: 30px;
    background-image: url("https://www.erismann.de/sites/default/files/styles/wallpaper_lightbox/public/wallpapers/scan/10062-31_scan_carat.jpg?itok=lUX57GdO");
}
.table-novels td, th {
    border: 1px solid black;
}
.table-novels td img {
    width:100px;
}
li {
    margin-bottom: 0.5em;
}
.list-illustration {
    position:absolute;
    right: 15%;
    top: 200px;
    width: 600px;
}
/*Книги*/
.container {
    display: flex;
    padding-top:100px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.good {
    background-color:lightgray;
    padding:15px;
    width: 200px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;;
}
.book {
    width: 200px;
}
.caption {
    height: 80px;
}
.order {
    width: inherit;
    background: url("order-form.jpg");
    height:705px;
    color:white;
}
.finsum {
    margin-left: 20px;
    margin-top:20px;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    color:white;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 150px;
    background-color: gray;
    border: none;
}
#submit-finsum:hover {
    background-color:black;
}
.del {
    margin-top:20px;
    margin-left:15px;
}

div.order button {
    width:210px;
    height:50px;
    margin-left:25px;
    font-size: 25px;
}
.container input {
    font-weight: 400;
    font-family:'Raleway', sans-serif;
    font-size:15px;
}
.order input {
    font-weight: 400;
    font-family:'Raleway', sans-serif;
    font-size:25px;
    text-align: center;
}
.delivery_data {
    background-color: white;
    width: 50%;
    position: absolute;
    right: 25%;
    color:black;
    font-weight: 400;
    font-size: 25px;
    height: 665px;
    margin-top: 20px;
}
.delivery_data input {
    margin-left: 20px;
}
.delivery_data label {
    margin-left: 50px;
}
.table_delivery td {
    text-align: left;
}
/*Рецензии*/
.feedback {
    width: 350px;
    height:650px;
    background-color: gray;
    padding-left: 20px;
    padding-right:20px;
    padding-top:20px;
    color: white;
    font-size: 25px;
}
div.feedback table .td1 {
    text-align: left;
}
div.feedback table .td2 {
    text-align: right;
}
.txt-inp {
    font-weight: 400;
    font-family:'Raleway', sans-serif;
    font-size:15px;
}
div.feedback table td img {
    margin-left:50px;
    margin-top: 10px;
}
.flex {
    display: flex;
}
.area {
    background-image: url("form.jpg");
    width:1098px;
    padding: 20px;
    color:white;
}
.area textarea {
    resize: none;
}
#obr {
    font-weight: 300;
}
.button {
    background-color: gray;
    border: none;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    color:white;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 150px;
}
.button:hover {
    background-color: black;
} 
#bt1 {
    position: absolute;
    right:180px;
}
#bt2 {
    position: absolute;
    right:20px;
}
.published {
    background-color: gray;
    color: white;
    padding-top: 20px;
    margin-top: -20px;
    position: relative;
}
.published h2 {
    font-weight: 200;
    font-size: 30px;
    margin-left: 30px;
}
.published p {
    margin-left: 30px;
}
.text-review {
    width:1200px;
    height: 500px;
}
.illustration {
    position:absolute;
    width: 200px;
}